body {
  font-family: "Proxima Nova";

  .top-nav {
    background: #000000;
    margin: 0;
    padding-left: 15px;
    width: 100%;
    height: 35px;

    .top-list-right {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      float: right;
      color: #ffffff;
      text-align: center;

      li {
        padding: 10px 15px;
        float: left;
        color: floralwhite;
        font-size: 14px;
        list-style: none;
        font-weight: bold;
      }
      a {
        color: #fff;
      }
      a:hover {
        color: chocolate;
      }
    }
  }

  .main {
    height: 650px;
    position: relative;

  }
  .top-bar {
    font-size: 14px;
    color: #ffffff;
    padding-left: 10px;
    background-color: #0f3d6f;
    position: fixed;

    .top-bar-right {
      .menu {
        background-color: transparent;
        li {
          color: #ffffff;
          text-transform: uppercase;
          font-weight: bold;

          a {
            color: #ffffff;
          }
          a:hover {
            color: #f68c1e;
          }
          a::after {
            display: block;
            width: 0;
            height: 0;
            border: inset 6px;
            content: '';
            border-bottom-width: 0;
            border-top-style: solid;
            border-color: #ffffff transparent transparent !important;
            right: 5px;
            left: auto;
            margin-top: -3px;
          }
          ul{
            border: none;
          }
        }
        .button {
          margin-left: 10px;
          text-align: center;
          padding: 15px;
          font-weight: 600;
          border-radius: 50px;
          font-size: 14px;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          width: 150px;
          color: #000000;
          background-color: #ffffff;
        }
      }

      .button:hover {
        color: gray;
      }
    }
  }

  .hero {
    //background: #1f4d96;
    height: 650px;
    padding: 80px;
    color: #ffffff;

    .button {
      text-align: center;
      padding: 15px;
      border-radius: 50px;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1.5px;
      background: orange;
      .button:hover {
        background-color: darkorange;
      }
    }
    .search {
      background-color: white;
      font-family: "Proxima Nova";
      width: 700px;
      bottom: -8%;
      font-size: 20px;
      height: 80px;
      position: absolute;
      margin: 0 auto;
      border: none;

      .glass {
        background-color: transparent;
      }
      .forest {
        background-color: #4a824c;
        .fi-magnifying-glass{
          font-size: large;
        }
        .fi-arrow-right{
          color: #ffffff;

        }
      }
    }
    .input-group-field, .glass {
      border: none;
    }
  }
  .featured {
    background-color: #fafafa;
    margin-top: 80px;
    margin-bottom: 20px;
    .back {
      height: 400px;
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .button {
      text-align: center;
      padding-top: 20px;
      padding-left: 37px;
      color: white;
      font-weight: bold;
      border-radius: 50px;
      font-size: 16px;
      letter-spacing: 1.0px;
      background-color: #f68c1e;
    }
    .button:hover {
      background: darkorange;
    }
  }

  .story {
    width: 80%;
    margin: 0 auto;

    .grid-x {
      height: 300px;
    }
    .columns {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: #ffffff;
      position: relative;

      .text {
        position: absolute;
        bottom: 0px;
        left: 50px;
        bottom: 50px;
        p {
          a {
            display: none;
            position: absolute;
            border-top: solid 1px #cc8b00;
            color: #ffffff;

            &:hover {
              display: contents;
            }
          }
          //a {
          //  color: #ffffff;
          //  border-top: solid 1px #cc8b00;
          //}
        }

      }
    }

    .button {
      text-align: center;
      padding: 15px;
      border-radius: 60px;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1.5px;
      color: #000000;
      background-color: #edeeef;
      margin: 20px;

    }
    .button:hover {
      background-color: darkorange;
    }

  }

  .references {
h3{
  font-weight: bolder;
}
    height: 320px;
    background-color: #fafafa;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 22px;
    align-items: center;
    flex-direction: column;
  }

  .panel {

    .hover-div {
      display: none;
      background: #ffffff;
      bottom: 0;
      padding: 2px;
      position: absolute;

    }

    .image-card {
      height: 200px;
      position: relative;
      transition: 0.7s;

      &:hover {
        transition: 0.7s;

        .hover-div {
          display: block;
          transition: 0.7s;
        }

      }
      .image-card-section {
        height: 200px;
        position: relative;
        border-top: orange;

      }
    }

  }

  .map {
    margin-top: 20px;
    background-image: url("../img/bitmap9.png");
    height: 650px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .text {
      color: #ffffff;
      position: absolute;
      padding-left: 30px;
      padding-top: 100px;

    }
  }

  .news {

    .grid-x {
      margin-top: 20px;

      .card {
        position: relative;
        height: 250px;

        .card-text {
          height: 40px;
          color: #ffffff;
          padding: 1rem;
          background: rgba(0, 0, 0, 0.65);
          line-height: 0.4rem;
        }
      }
      .card:hover {
        color: #ffffff;
        background-color: #5d7a37;
      }

    }

  }

  .join {
    margin-top: 50px;
    height: 250px;
    color: white;
    padding-top: 40px;
    background-color: #121212;

    .button {
      text-align: center;
      color: white;
      background-color: #f68c1e;
      border-radius: 40px;
      height: 50px;
      width: 200px;
      font-weight: bold;
    }
    .button:hover {
      background-color: darkorange;
    }
  }

}

// hover on image

.medium-uncollaps {
  margin-top: 30px;
}

.textImage {
  background-size: 100%;
  height: 350px;
  margin-bottom: 0.4%;
  transition: .5s;
  position: relative;
  color: white;
  background-position: center;
}

.img1 {
  background: url('../img/Bitmap5.png');
}

.img2 {
  background: url('../img/Bitmap6.png') no-repeat;
  background-size: cover;
}

.img3 {
  background: url('../img/bitmap9.png');
}

.text-slider {
  display: none;
  padding-top: 120px;
  padding-left: 30px;
  p {
    color: lightgray;
  }

  .hover_btn {
    background: white;
    color: black;
    border-radius: 50px;
    width: 40%;
  }
}

.img_hold {
  padding: 0.2%;
}

.conference_section {
  font-family: "Proxima Nova";
  margin: 20px auto;

  .slide-one {
    background: url("../img/bitmap9.png");
  }
}

.hover-height {
  height: 350px;
  transition: 0.7s;

  &:hover {
    background: rgba(0, 0, 0, 0.45);
    transition: 0.7s;
    cursor: pointer;

    .text-slider {
      display: block;
    }
  }
}

.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}


